Html{

  background-color:#33DBC2;
}
main{
  margin:20px;
}
h1{
  text-align:center;
  color:rgb(40, 54, 66);
}
.navbar ul{
  list-style-type: none;
  background-color:hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color:rgb(255, 255, 255);
  text-decoration:none;
  padding:15px;
  display:block;
  text-align:center;

}
.navbar a:hover{
  background-color:hsl(0, 0%, 10%);
}
.navbar li{
  float:left;
}

.two-colum{
 width: 1900px;
 height: auto;
}



.The-main-causes h1{
  position:left;
  font-size: 2.5rem;
  color: #00695c;
 
}

.The-main-causes p {
  position: left;
  font-style: italic;

}

.The-main-causes img{
  display:grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;    width:80%;
  margin:uto;
  margin-top: 30px;
  max-width: 500px;
  height:auto;
  float:left;
   
}

The-main-causes h2{
  position:left;
  font-size: 2.5rem;
  color: #00695c;
  
}

  
  
